<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        <button><div class="navicon"></div></button>
        <ul class="visible-links">
          
          <!-- 语言切换按钮 -->
          <li class="masthead__menu-item masthead__menu-item--lg masthead__menu-home-item">
            {% if page.lang == "en" %}
              <a href="https://pengju-x.github.io/pengju-x" target="_self">
                <img class="svg" src="{{ '/images/zh.svg' | relative_url }}" width="20pt"> 
                中文
              </a>
            {% else %}
              <a href="https://pengju-x.github.io/pengju-x/en/" target="_self">
                <img class="svg" src="{{ '/images/en.svg' | relative_url }}" width="20pt"> 
                English
              </a>
            {% endif %}
          </li>
          
          <!-- 导航菜单 -->
          {% for link in site.data.navigation.main %}

          <li class="masthead__menu-item">
            {% if page.lang == "en" %}
              <a href="{{ domain }}{{ link.url_en }}">{{ link.title_en }}</a>
            {% else %}
              <a href="{{ domain }}{{ link.url_zh }}">{{ link.title_zh }}</a>
            {% endif %}
            
              </li>
            {% endfor %}
          
        </ul>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
</div>



<!-- <div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        <button><div class="navicon"></div></button>
        <ul class="visible-links">
          <li class="masthead__menu-item masthead__menu-item--lg masthead__menu-home-item">
            <a href="https://pengju-x.github.io/pengju-x/" target="_self">
              <img class="svg" src="/images/en.svg" width="20pt"> 
              English
            </a>
          </li>
          {% for link in site.data.navigation.main %}
            <li class="masthead__menu-item">
               <a href="{{ site.baseurl }}{{ link.url }}">{{ link.title }}</a> -->
              <!-- <a href="{{ domain }}{{ link.url }}">{{ link.title }}</a> -->
            <!-- </li> -->
<!--           
            {% endfor %}
        </ul>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
</div> -->
